@model IEnumerable<symptest.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client_Date_Of_Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advocate_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes_On_Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ethnicity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner_Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Date_Of_Birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advocate_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes_On_Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ethnicity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner_Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
